*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting Up Custom Properties ///////////////////////////////////////////////////////// */
:root {
  --h1-size: 2.5rem;
  --h2-size: 1.75rem;
  --body-size: 1rem;
  /* General Styling ///////////////////////////////////////////////////////// */
  font-family: Roboto, sans-serif;
  color: #000314;
  font-size: var(--body-size);
  background-color: #f6f3f8;
  scroll-behavior: smooth;
}

/* Everything bigger than 900px */
@media (min-width: 900px) {
  :root {
    --h1-size: 4rem;
    --h2-size: 2.5rem;
    --body-size: 1.125rem;
  }
}
section {
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

p {
  width: 80%;
  margin: 0 auto;
}

.button {
  display: inline-block;
  margin: 1rem auto;
  padding: 0.25rem 1rem;
  font-size: var(--body-size);
  color: #000314;
  text-decoration: none;
  text-align: center;
  border: 2px solid #000314;
  border-radius: 2px;
  background-color: #f6f3f8;
  text-transform: uppercase;
  width: max-content;
  height: max-content;
  cursor: pointer;
}

/* Nav ////////////////////////////////////////////////////////////////// 

nav {
  position: fixed;
  top: 65%;
  margin: 1rem 0;
  z-index: 100;
  height: 30vh;
  width: 100px;
}

.nav__link {
  position: absolute;
  z-index: 100;
  height: 15px;
  width: 15px;
  background-color: $dark-color;
  border: 2px solid $dark-color;
  border-radius: 50%;
  left: 50%;
  top: 50%;
}

.nav__link-home {
  top: 10%;
  opacity: 1;
}
.nav__link-about {
  top: 37.6%;
}
.nav__link-portfolio {
  top: 63.3%;
}
.nav__link-contact {
  top: 90%;
}

.nav__link--selected {
  background-color: $light-color;
}

.nav__vertical-line {
  position: absolute;
  z-index: 99;
  height: 75%;
  width: 1px;
  background-color: $dark-color;
  left: 50%;
  top: 50%;
}

.nav__scroll-heading {
  color: $light-lavender;
  position: absolute;
  top: 50%;
  left: 80%;
}

.nav__info {
  position: absolute;
  left: 25%;
  opacity: 0;
}

.nav__info-home {
  top: 18%;
}
.nav__info-about {
  top: 45%;
}
.nav__info-portfolio {
  top: 69%;
}
.nav__info-contact {
  top: 85%;
}
.nav__info--selected {
  opacity: 1;
} */
/* Formattting ////////////////////////////////////////////////////////////////// */
section h1 {
  position: absolute;
  z-index: 100;
  width: 100%;
  text-align: center;
  color: #000314;
  margin: 2rem auto;
}

.city-container {
  position: absolute;
  height: var(--full-height, 100vh);
  width: 100vw;
  overflow: hidden;
}
.city-container * {
  position: absolute;
}

/* Home ////////////////////////////////////////////////////////////////// */
#home {
  height: var(--full-height, 100vh);
  position: relative;
  z-index: -1000;
  /* This was covering up the button hover animations */
}

.car {
  top: 50%;
  left: 100%;
}

.home__name {
  margin: 0;
  padding: 0;
  top: 1%;
  left: 2%;
  text-align: left;
  color: #000314;
  z-index: -1000;
  font-size: calc(var(--h1-size) * 1.5);
}
.home__name span {
  position: static;
  font-size: var(--h1-size);
}

.home__title {
  margin: 0;
  top: calc(1% + var(--h1-size) * 1.5);
  left: 10%;
  font-size: calc(var(--h2-size) * 0.75);
  text-align: left;
  color: #8f8fa4;
  z-index: -1000;
}

@media (min-width: 900px) {
  .home__name {
    top: 0%;
    left: 3%;
  }

  .home__title {
    left: 10%;
  }
}
.see-my-work-button {
  left: 50%;
  top: calc(100% - var(--body-size) * 7);
  margin: 0 auto;
  padding: 0.25rem 1rem;
  /* Max content wouldn't work on this for some reason */
  width: calc(var(--body-size) * 9);
  height: calc(var(--body-size) * 1.8);
}

.scroll-down {
  top: calc(100% - var(--body-size) * 5);
  left: 50%;
  width: max-content;
  color: #8f8fa4;
  text-transform: uppercase;
  font-size: calc(var(--body-size) * 0.8);
}

.scroll-down-arrow {
  width: 1rem;
  top: calc(100% - var(--body-size) * 4);
  left: 50%;
}

.ground {
  top: 50%;
  width: 400px;
}

.ground--1 {
  left: 0;
}

.ground--2 {
  left: 20%;
}

.ground--3 {
  left: 40%;
}

.ground--4 {
  left: 60%;
}

.ground--5 {
  left: 80%;
}

.buildings {
  top: 50%;
  /* Center it (mostly vertically)--the rest is compensated for in GSAP */
}

/* Building Lights */
.building-lights {
  z-index: -24;
  opacity: 0;
}

.building-lights--active {
  opacity: 1;
}

/* Primary Buildings */
.primary-buildings {
  z-index: -25;
}

.state-capital {
  height: 15%;
  left: 58%;
}

.UT-main {
  height: 20%;
  left: 31.5%;
}

.frost-tower {
  z-index: -30;
  height: 50%;
  left: 70%;
}

.frost-tower-building-lights {
  z-index: -29;
}

.independent {
  height: 60%;
  left: 41.5%;
}

.austonian {
  z-index: -30;
  height: 60%;
  left: 50%;
}

.austonian-building-lights {
  z-index: -29;
}

.one-eleven-congress {
  z-index: -20;
  height: 25%;
  left: 78%;
}

.congress-building-lights {
  z-index: -20;
}

.condominiums {
  height: 30%;
  left: 91%;
}

/* Secondary Buildings */
.secondary-buildings {
  z-index: -50;
}

.fairmont {
  height: 50%;
  left: 48%;
}

.ashton {
  height: 60%;
  left: 64%;
}

.northshore {
  height: 30%;
  left: 85%;
}

/* Tertiary Buildings */
.tertiary-buildings {
  z-index: -75;
}

.san-jacinto {
  height: 40%;
  left: 36%;
}

.congress {
  height: 75%;
  left: 56%;
}

.shore {
  height: 50%;
  left: 75%;
}

.west-sixth {
  height: 33%;
  left: 29%;
}

.westgate {
  height: 20%;
  left: 95%;
}

/* Background Buildigs */
.background-buildings {
  width: 100%;
  z-index: -100;
}

/* Bench & Welcome */
.bench {
  height: 100%;
  z-index: -50;
  top: 50%;
  left: 50%;
}

.welcome {
  top: 40%;
  left: 60%;
  font-size: var(--h2-size);
}

/* About ////////////////////////////////////////////////////////////////// */
#about {
  background-color: #f6f3f8;
  position: relative;
  height: var(--full-height, 100vh);
}
#about h1 {
  margin-top: 2rem;
}

.about__container {
  position: relative;
  height: var(--full-height, 100vh);
  width: 100%;
  top: 10%;
}

.about__info {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  padding: 1rem;
  font-size: calc(var(--body-size) * 2);
  text-align: center;
  transform: translate(-50%, -50%);
}

.restart-about-slides {
  position: absolute;
  top: calc(15% + var(--h1-size) * 0.7);
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(var(--full-height, 100vh) * 0.075);
  width: calc(var(--full-height, 100vh) * 0.075);
  background-color: transparent;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

/* @media (min-width: 900px) {
  .restart-about-slides {
    top: 22.5%;
  }
} */
.restart-about-slides img {
  width: calc(var(--full-height, 100vh) * 0.05);
  height: calc(var(--full-height, 100vh) * 0.05);
}

.border {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(70% + 2rem);
  height: 60%;
  transform: translate(-50%, -50%);
}

.border-left {
  border-left: 3px solid #c6c6c6;
}

.border-bottom {
  border-bottom: 3px solid #c6c6c6;
}

.border-right {
  border-right: 3px solid #c6c6c6;
}

.border-top {
  border-top: 3px solid #c6c6c6;
}

/* Skills /////////////////////////////////////////////////////////////////// */
#skills {
  background-color: #f6f3f8;
  position: relative;
  height: calc(var(--full-height, 100vh) * 2);
  overflow: hidden;
}
#skills h1,
#skills h2 {
  position: absolute;
}
#skills h2 {
  font-size: calc(var(--full-height, 100vh) * 0.05);
  color: #f6f3f8;
  left: 15px;
  text-decoration: underline;
  padding: 1rem 0;
}
#skills h1 {
  top: 0%;
}
@media (min-width: 1200px) {
  #skills h1 {
    top: 10%;
  }
}

.construction-building,
.construction-building-lights {
  position: absolute;
  left: 0;
  top: 10%;
  height: calc(var(--full-height, 100vh) * 1.81);
}

.construction-building-lights {
  opacity: 0;
}

.web-design {
  top: 39%;
}

.animations {
  top: 44.4%;
}

.algorithms {
  top: 49.6%;
}

.git {
  top: 55%;
}

.react {
  top: 60.4%;
}

.javascript {
  top: 65.8%;
}

.css3 {
  top: 71.2%;
}

.html5 {
  top: 76.6%;
}

.more {
  top: 82%;
}

.skills__bonus-info-container {
  display: block;
  position: absolute;
  height: calc(var(--full-height, 100vh) * 1.04);
  width: calc(100% - var(--full-height, 100vh) * 0.3);
  top: calc(var(--full-height, 100vh) * 0.8);
  left: calc(var(--full-height, 100vh) * 0.25);
}

.skills__bonus-info h3 {
  text-align: left;
  background: lightblue;
  background: #f6f3f8;
  padding: 0.5rem;
  border-radius: 3px;
  margin: 0.2rem;
}

.skills__bonus-info {
  position: absolute;
  transform: translateY(-50%);
  font-size: calc(var(--full-height, 100vh) * 0.04);
  width: 80%;
  border-radius: 3px;
}

@media (min-width: 900px) {
  .skills__bonus-info-container {
    left: calc(var(--full-height, 100vh) * 0.5);
    width: calc(100% - 400px);
  }
}
.skills__bonus-info a {
  color: #000314;
}

.skills__bonus-info--web-design {
  top: 7%;
}

.skills__bonus-info--animations {
  top: 17%;
}

.skills__bonus-info--algorithms {
  top: 24%;
}

.skills__bonus-info--git {
  top: 35%;
}

.skills__bonus-info--react {
  top: 47%;
}

.skills__bonus-info--javascript {
  top: 58%;
}

.skills__bonus-info--css3 {
  top: 68.5%;
}

.skills__bonus-info--html5 {
  top: 77%;
}

.skills__bonus-info--more {
  top: 89%;
}

.github-logo,
.resume,
.codewars,
.linkedin {
  margin-right: 1rem;
}

/* Portfolio ////////////////////////////////////////////////////////////////// */
#projects {
  background-color: #f6f3f8;
  position: relative;
  height: var(--full-height, 100vh);
  display: flex;
  position: relative;
  flex-direction: column;
  /* General Project Settings */
  /* Project 1 React E-Commerce Site /////////////////////////// */
  /* Project 2 Business Landing Page /////////////////////////////// */
  /* Project 3 3D Particle Application/////////////////////////////// */
  /* Project 4 Yevgeniy's Website /////////////////////////////// */
  /*  .project-title-container--4 {
    width: 58%;
    height: 33%;
    left: 22%;
    top: 4%;

    .project-title--4 {
      top: 50%;
      left: 6%;
    }
  } */
  /* Projects 5 & 6 - Generative Art & Web Particles /////////////////////////////// */
}
#projects .slides-container {
  position: relative;
  top: 25%;
  overflow: hidden;
  display: flex;
  flex: none;
  height: 75%;
  margin: var(--h2-size) auto;
  background-color: #e2e1e6;
}
#projects .slides-inner {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("/images/Slides Background.svg");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position-y: 100%;
}
#projects .slide {
  position: absolute;
  font-size: 90px;
  font-weight: 700;
  color: #000314;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--full-height, 100vh) * 0.75);
  width: calc(var(--full-height, 100vh) * 0.3);
}
#projects .project-image {
  position: absolute;
  height: 100%;
}
#projects .project-title-container {
  position: absolute;
  background-color: #f6f3f8;
}
#projects .project-title {
  position: absolute;
  transform: translateY(-50%);
  font-size: calc(var(--full-height, 100vh) * 0.025);
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}
#projects .project-title-container--1 {
  width: 70%;
  height: 50%;
  left: 15%;
  top: 10%;
}
#projects .project-title-container--1 .project-title--1 {
  top: 50%;
}
#projects .project-title-container--2 {
  width: 70%;
  height: 30%;
  left: 15%;
  top: 40%;
  border-radius: 3px;
}
#projects .project-title-container--2 .project-title--2 {
  top: 50%;
}
#projects .project-title-container--3 {
  width: 76%;
  height: 43%;
  left: 12%;
  top: 10%;
}
#projects .project-title-container--3 .project-title--3 {
  width: 90%;
  left: 5%;
  top: 50%;
}
#projects .project-title-container--5,
#projects .project-title-container--6 {
  width: 75%;
  height: 31%;
  left: 12%;
  border-radius: 3px;
}
#projects .project-title-container--5 .project-title--5,
#projects .project-title-container--5 .project-title--6,
#projects .project-title-container--6 .project-title--5,
#projects .project-title-container--6 .project-title--6 {
  width: 90%;
  left: 5%;
  top: 50%;
  font-size: calc(var(--full-height, 100vh) * 0.025);
}
#projects .project-title-container--5 {
  top: 20%;
}
#projects .project-title-container--6 {
  top: 62.5%;
}

/* Project 7 - Computer Assisted Composition /////////////////////////////// */
.project-title-container--7 {
  width: 73%;
  height: 42%;
  left: 14%;
  top: 27.5%;
  border-radius: 20px;
}
.project-title-container--7 .project-title--7 {
  top: 50%;
  left: 6%;
}

/* Project 8 - Digital Art /////////////////////////////// */
.project-title-container--8 {
  width: 72%;
  height: 22%;
  left: 15%;
  top: 26%;
  border-radius: 2px;
}
.project-title-container--8 .project-title--8 {
  top: 50%;
  left: 15%;
}

/* Project 9 - Developer Portfolio /////////////////////////////// */
.project-title-container--9 {
  width: 69%;
  height: 16%;
  left: 15%;
  top: 52%;
  border-radius: 5px;
}
.project-title-container--9 .project-title--9 {
  top: 50%;
  left: 0%;
}

/* Project Previews //////////// */
.project-previews-container .background {
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 3, 20, 0.5);
  visibility: hidden;
}
.project-previews-container .individal-container--outer {
  position: fixed;
  left: 5%;
  top: 5%;
  z-index: 1000;
  height: 90vh;
  width: 90vw;
  background-color: #f6f3f8;
  visibility: hidden;
}
.project-previews-container .x-button {
  position: absolute;
  top: 10px;
  left: calc(100% - 10px);
  transform: translateX(-100%);
  cursor: pointer;
  height: 2.5%;
}
.project-previews-container .individal-container--inner {
  position: relative;
  left: 5%;
  top: 5%;
  z-index: 1001;
  height: 90%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  overflow: scroll;
  /* Art Gallery Settings */
}
.project-previews-container .individal-container--inner .gif-container {
  height: 75%;
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
}
.project-previews-container .individal-container--inner .gif-container .gif {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.project-previews-container .individal-container--inner .preview-title--art {
  margin: 2rem;
  width: 100%;
}
.project-previews-container .individal-container--inner .art {
  display: block;
  max-height: 75vh;
  max-width: 75vw;
  margin: 1rem;
}
.project-previews-container .individal-container--inner .individal-container__text-and-buttons {
  position: relative;
  margin: 0 auto;
  min-width: 250px;
  width: 50%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-previews-container .individal-container--inner .individal-container__text-and-buttons .preview-title {
  width: 100%;
  margin: 1rem;
  text-align: left;
}
.project-previews-container .individal-container--inner .individal-container__text-and-buttons p,
.project-previews-container .individal-container--inner .individal-container__text-and-buttons a,
.project-previews-container .individal-container--inner .individal-container__text-and-buttons ol {
  margin: 1rem;
}
.project-previews-container .individal-container--inner .individal-container__text-and-buttons p {
  width: 100%;
}

/* Contact ////////////////////////////////////////////////////////////////// */
#contact {
  background-color: #f6f3f8;
  position: relative;
  height: calc(var(--full-height, 100vh) * 1.25);
  overflow: hidden;
}
#contact h1,
#contact h2 {
  position: static;
  width: max-content;
  margin: 2rem auto 2rem auto;
}
#contact button {
  display: block;
  margin: 3rem auto;
}
#contact form {
  display: block;
  height: max-content;
  width: 90%;
  max-width: 500px;
  margin: 2rem auto;
  border: 3px solid #c6c6c6;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f6f3f8;
}
#contact label {
  display: block;
  width: 80%;
  margin: 3rem auto 0 auto;
  transition: all 0.2s;
}
#contact input,
#contact textarea {
  display: block;
  width: 80%;
  margin: 0.5rem auto 1rem auto;
  border-radius: 3px;
  padding: 0.5rem;
  border-radius: 2px;
  border: 2px solid #c6c6c6;
  background-color: white;
  transition: all 0.5s;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#contact input:focus,
#contact textarea:focus {
  border: 2px solid #ffd65c;
}

/* EXTRAS /////////////////////////////////////// */
.inactive {
  pointer-events: none;
  background-color: var(--light-lavender);
  border: 2px solid #8f8fa4;
  color: #8f8fa4;
}

:root {
  /* Keep hidden until GSAP is loaded and makes it visible again */
  visibility: hidden;
}

/*# sourceMappingURL=style.css.map */
