*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Setting Up Custom Properties ///////////////////////////////////////////////////////// */
  --sans: 'Roboto';
  --dark-color: #000314;
  --dark-lavender: #8f8fa4;
  --light-lavender: #c6c6c6;
  --medium-color: lightgray;
  --light-color: #f6f3f8;
  --pop-color: #ffd65c;
  --shadow: 0rem 0rem 0.25rem rgba(0, 0, 0, 0.1),
    0rem 0rem 1rem rgba(0, 0, 0, 0.15);
  --h1-size: 2.75rem;
  --h2-size: 1.25rem;
  --body-size: 1rem;
  --section-height: 400vh;

  /* General Styling ///////////////////////////////////////////////////////// */
  scroll-behavior: smooth;
  font-family: var(--sans, sans-serif);
  color: var(--dark-color);
  font-size: var(--body-size);
  background-color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

p {
  width: 80%;
  margin: 0 auto;
}

/* Nav ////////////////////////////////////////////////////////////////// */

nav {
  position: fixed;
  margin: 1rem;
  z-index: 100;
  height: 100px;
  width: 100px;
  border: 1px solid var(--dark-color);
}

nav a {
  display: block;
  margin: 1rem;
}

/* Formattting ////////////////////////////////////////////////////////////////// */

section {
  height: var(--section-height);
  border: 1px solid var(--dark-color);
  overflow: hidden;
}

.home-spacer {
  height: calc(var(--section-height) / 2);
}

.city-container {
  height: 100vh;
  border: 1px solid var(--dark-lavender);
}

/* Home ////////////////////////////////////////////////////////////////// */

.ground {
  position: absolute;
  top: 50%;
  width: 20vw;
}

.ground1 {
  left: 0;
}
.ground2 {
  left: 20%;
}
.ground3 {
  left: 40%;
}
.ground4 {
  left: 60%;
}
.ground5 {
  left: 80%;
}

.trees {
  position: absolute;
  top: 50%;
  z-index: -1;
}

.trees-left {
  width: 60vw;
  left: 1%;
}
.trees-right {
  width: 40vw;
  left: 60%;
}

.buildings {
  position: absolute;
  top: 50%; /* Center it (mostly vertically)--the rest is compensated for in GSAP */
}

/* Primary Buildings */
.primary-buildings {
  z-index: -25;
}

.state-capital {
  height: 15%;
  left: 58%;
}

.UT-main {
  height: 20%;
  left: 31.5%;
}

.frost-tower {
  height: 50%;
  left: 70%;
}

.independent {
  height: 60%;
  left: 41.5%;
}

.austonian {
  height: 60%;
  left: 50%;
}

.one-eleven-congress {
  height: 25%;
  left: 78%;
}

.condominiums {
  height: 30%;
  left: 91%;
}

/* Secondary Buildings */
.secondary-buildings {
  z-index: -50;
}

.fairmont {
  height: 50%;
  left: 48%;
}

.ashton {
  height: 60%;
  left: 64%;
}

.northshore {
  height: 30%;
  left: 85%;
}

/* Tertiary Buildings */
.tertiary-buildings {
  z-index: -75;
}

.san-jacinto {
  height: 40%;
  left: 36%;
}

.congress {
  height: 75%;
  left: 56%;
}

.shore {
  height: 50%;
  left: 75%;
}

.west-sixth {
  height: 33%;
  left: 29%;
}

.westgate {
  height: 20%;
  left: 95%;
}

/* Background Buildigs */
.background-buildings {
  width: 100%;
  z-index: -100;
}
a {
  position: absolute;
  z-index: 100;
}

/* About ////////////////////////////////////////////////////////////////// */

.bench {
  position: absolute;
  z-index: -50;
  top: 50%;
  height: 100%;
  left: 50%;
}
