*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Setting Up Custom Properties ///////////////////////////////////////////////////////// */
  --sans: 'Roboto';
  --dark-color: #000314;
  --dark-lavender: #8f8fa4;
  --light-lavender: #c6c6c6;
  --medium-color: lightgray;
  --light-color: #f6f3f8;
  --pop-color: #ffd65c;
  --shadow: 0rem 0rem 0.25rem rgba(0, 0, 0, 0.1),
    0rem 0rem 1rem rgba(0, 0, 0, 0.15);
  --h1-size: 2.5rem;
  --h2-size: 1.75rem;
  --body-size: 1rem;
  --section-height: 200vh;

  /* General Styling ///////////////////////////////////////////////////////// */
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  font-family: var(--sans, sans-serif);
  color: var(--dark-color);
  font-size: var(--body-size);
  background-color: var(--light-color);
}

/* Everything bigger than 900px */
@media (min-width: 900px) {
  :root {
    --h1-size: 4rem;
    --h2-size: 2rem;
    --body-size: 1.125rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

p {
  width: 80%;
  margin: 0 auto;
}

/* Nav ////////////////////////////////////////////////////////////////// */

nav {
  position: fixed;
  top: 65%;
  margin: 1rem 0;
  z-index: 100;
  height: 30vh;
  width: 100px;
}

.nav__link {
  position: absolute;
  z-index: 100;
  height: 15px;
  width: 15px;
  background-color: var(--dark-color);
  border: 2px solid var(--dark-color);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav__link-home {
  top: 10%;
  opacity: 1;
}
.nav__link-about {
  top: 37.6%;
}
.nav__link-portfolio {
  top: 63.3%;
}
.nav__link-contact {
  top: 90%;
}

.nav__link--selected {
  background-color: var(--light-color);
}

.nav__vertical-line {
  position: absolute;
  z-index: 99;
  height: 75%;
  width: 1px;
  background-color: var(--dark-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav__scroll-heading {
  color: var(--light-lavender);
  transform: translate(-50%, -50%) rotate(90deg);
  position: absolute;
  top: 50%;
  left: 80%;
}

.nav__info {
  position: absolute;
  left: 25%;
  transform: translate(-50%, -50%) rotate(90deg);
  opacity: 0;
}

.nav__info-home {
  top: 18%;
}
.nav__info-about {
  top: 45%;
}
.nav__info-portfolio {
  top: 69%;
}
.nav__info-contact {
  top: 85%;
}
.nav__info--selected {
  opacity: 1;
}

/* Formattting ////////////////////////////////////////////////////////////////// */

section {
  height: var(--section-height);
  border: 1px solid var(--dark-color);
}

.big-sections {
  scroll-snap-align: start;
}

section h1 {
  position: absolute;
  z-index: -100;
  color: var(--light-lavender);
}

.city-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  border: 1px solid var(--dark-lavender);
}

/* Home ////////////////////////////////////////////////////////////////// */

.home__name {
  text-align: left;
  line-height: 1rem;
  margin: 1.5rem 0 0.5rem 0.5rem;
  text-transform: uppercase;
  color: var(--pop-color);
}

@supports (
  (-webkit-text-fill-color: var(--dark-color)) and
    (-webkit-text-stroke-width: 0.75px) and
    (-webkit-text-stroke-color: transparent)
) {
  .home__name {
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: var(--dark-color);
    -webkit-text-fill-color: transparent;
  }
}

.home__name span {
  font-size: calc(var(--h1-size) * 0.6);
}

.home__title {
  font-size: calc(var(--h2-size) * 0.75);
  text-align: left;
  margin-left: 1rem;
  color: var(--dark-lavender);
}

.ground {
  position: absolute;
  top: 50%;
  width: 20vw;
}

.ground1 {
  left: 0;
}
.ground2 {
  left: 20%;
}
.ground3 {
  left: 40%;
}
.ground4 {
  left: 60%;
}
.ground5 {
  left: 80%;
}

.car {
  position: absolute;
  top: 50%;
  z-index: -1; /* Puts it behind the road */
  left: 100%;
  height: 20vh;
}

.buildings {
  position: absolute;
  top: 50%; /* Center it (mostly vertically)--the rest is compensated for in GSAP */
}

/* Primary Buildings */
.primary-buildings {
  z-index: -25;
}

.state-capital {
  height: 15%;
  left: 58%;
}

.UT-main {
  height: 20%;
  left: 31.5%;
}

.frost-tower {
  height: 50%;
  left: 70%;
}

.independent {
  height: 60%;
  left: 41.5%;
}

.austonian {
  height: 60%;
  left: 50%;
}

.one-eleven-congress {
  height: 25%;
  left: 78%;
}

.condominiums {
  height: 30%;
  left: 91%;
}

/* Secondary Buildings */
.secondary-buildings {
  z-index: -50;
}

.fairmont {
  height: 50%;
  left: 48%;
}

.ashton {
  height: 60%;
  left: 64%;
}

.northshore {
  height: 30%;
  left: 85%;
}

/* Tertiary Buildings */
.tertiary-buildings {
  z-index: -75;
}

.san-jacinto {
  height: 40%;
  left: 36%;
}

.congress {
  height: 75%;
  left: 56%;
}

.shore {
  height: 50%;
  left: 75%;
}

.west-sixth {
  height: 33%;
  left: 29%;
}

.westgate {
  height: 20%;
  left: 95%;
}

/* Background Buildigs */
.background-buildings {
  width: 100%;
  z-index: -100;
}
a {
  position: absolute;
  z-index: 100;
}

/* About ////////////////////////////////////////////////////////////////// */

.bench {
  position: absolute;
  z-index: -50;
  top: 50%;
  height: 100%;
  left: 50%;
}

.about__info-section,
.about__info,
.about__info-section--filler {
  height: calc(var(--section-height) / 6);
}

.about__info {
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  width: 80%;
  padding: 1rem;
  font-size: calc(var(--body-size) * 1.5);
  text-align: center;
  opacity: 0;
}
